parameters:
	ignoreErrors:
		-
			message: '#^Strict comparison using \!\=\= between null and null will always evaluate to false\.$#'
			identifier: notIdentical.alwaysFalse
			count: 1
			path: src/Business/ActionRunner.php

		-
			message: '#^Anonymous function has an unused use \$uid\.$#'
			identifier: closure.unusedUse
			count: 1
			path: src/Business/Auth.php

		-
			message: '#^PHPDoc tag @throws with type Random\\RandomException is not subtype of Throwable$#'
			identifier: throws.notThrowable
			count: 1
			path: src/Business/Auth.php

		-
			message: '#^Parameter \#2 \$value of static method GatewayPush\\Common\\RedisClient\:\:setNxEx\(\) expects string, int given\.$#'
			identifier: argument.type
			count: 1
			path: src/Business/Push.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Business/Session.php

		-
			message: '#^Call to function is_array\(\) with array\<mixed\> will always evaluate to true\.$#'
			identifier: function.alreadyNarrowedType
			count: 1
			path: src/Common/Env.php

		-
			message: '#^Variable \$_SERVER in isset\(\) always exists and is not nullable\.$#'
			identifier: isset.variable
			count: 1
			path: src/Common/Env.php

		-
			message: '#^Instanceof between Throwable and Throwable will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/Common/Logger.php

		-
			message: '#^Unreachable statement \- code above always terminates\.$#'
			identifier: deadCode.unreachable
			count: 1
			path: src/Common/Logger.php

		-
			message: '#^Strict comparison using \=\=\= between mixed and null will always evaluate to false\.$#'
			identifier: identical.alwaysFalse
			count: 1
			path: src/Common/RedisClient.php

		-
			message: '#^Left side of && is always true\.$#'
			identifier: booleanAnd.leftAlwaysTrue
			count: 1
			path: start.php
